.about {
	width: 100%;
	background: url("./../img/about/about-bg.png") 0 0 no-repeat;
	background-size: cover;

	// .about__inner
	&__inner {
		padding: 100px 0 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: 576px) {
			align-items: center;
		}
	}

	// .about__title
	&__title {
		text-align: left;

		@media (min-width: 576px) {
			text-align: center;
		}

		@media (min-width: 991px) {
			max-width: 850px;
		}
	}

	// .about__subtitle
	&__subtitle {
		margin-top: 15px;

		max-width: 495px;

		@media (min-width: 576px) {
			text-align: center;
		}

		@media (min-width: 768px) {
			margin-top: 20px;
		}
	}

	// .about__btn
	&__btn {
		margin-top: 26px;
	}
}