.create {
	padding: 20px 0 70px;

	.pay {
		width: 100%;

		@media (min-width: 768px) {
			justify-content: center;
		}
	}

	// .pay__steps
	.pay__steps {


		&::before {


			@media (min-width: 768px) {
				width: 80%;

			}

			@media (min-width: 1000px) {
				width: 75%;
				left: 130px;

			}
		}

	}

	// .pay__step
	.pay__step {


		&:last-child .pay__step-fon::before {
			display: none;
		}


		&:nth-child(3) {
			@media (min-width: 768px) {
				align-items: center;
			}


		}

		&:last-child {
			padding-right: 0;
			display: flex;
			align-items: center;
			margin-top: 15px;
			position: relative;

			@media (min-width: 768px) {
				margin-top: 0;

			}
		}

		&:nth-child(3) .pay__step-fon::before {

			display: block;
		}



	}

	.painted-btn {
		display: none;
	}
}