.faq {
	background: linear-gradient(122.91deg, #201081 0%, #1E0043 72.07%, #5C003E 98.6%);
	position: relative;
	top: -68px;


	&__wrapper {
		background-image: url("./../img/faq/faq-bg-mob.png");
		background-size: cover;

		@media (min-width: 1100px) {
			background-image: url("./../img/faq/faq-bg.png");
			background-size: cover;
		}

		padding: 110px 0 260px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		gap: 138px;

		&::after {
			@media (min-width: 1100px) {
				content: '';
				position: absolute;
				background-image: url('./../img/info/Frame5.svg');
				background-repeat: no-repeat;
				background-size: cover;
				width: 60px;
				height: 88px;
				bottom: -4%;
				right: 19%;

			}
		}
	}
}