.info {
	width: 100%;
	position: relative;

	// background: url("./../img/info/frame1.png") 50% 20% no-repeat;
	// url("./../img/info/frame2.png") 200px 150px no-repeat,
	// url("./../img/info/frame3.png") 500px 250px no-repeat,
	// url("./../img/info/frame4.png") 400px 350px no-repeat,
	// url("./../img/info/frame5.png") 800px 450px no-repeat;


	// background-size: cover;
	&__svg {
		position: absolute;
		bottom: -280px;
		left: 0;
		z-index: -10;
	}

	@media (min-width: 1023px) {}

	&__inner {

		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: 576px) {
			align-items: center;
		}
	}

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;

		@media (min-width: 576px) {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between
		}
	}

	.wave-top {
		display: none;
		position: absolute;
		top: -108px;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;

		@media (min-width: 576px) {
			top: -137px;
		}

		@media (min-width: 700px) {
			top: -96px;
		}

		@media (min-width: 991px) {
			top: -89px;
		}

		@media (min-width: 1200px) {
			top: -68px;
		}

		@media (min-width: 1400px) {
			top: -54px;
		}

		svg {
			display: none;
			height: 111px;
			object-fit: cover;

			@media (min-width: 576px) {
				height: 142px;
			}

			@media (min-width: 700px) {
				height: 100px;
				width: 150%;
			}

			@media (min-width: 991px) {
				height: 91px;
			}

			@media (min-width: 1200px) {
				height: 70px;
			}

			@media (min-width: 1400px) {
				max-height: 65px;
				width: 100%;
			}

			path {
				display: none;
				object-fit: cover;
				fill: #190C25;
			}
		}
	}


	.wave-bootom {
		display: none;
		position: absolute;
		bottom: -53px;
		left: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
		transform: rotate(180deg);
		z-index: -1;

		@media (min-width: 450px) {
			bottom: -100px
		}

		@media (min-width: 768px) {
			bottom: -84px;
		}

		@media (min-width: 991px) {
			bottom: -66px;
		}

		svg {
			height: 95px;
			object-fit: cover;

			@media (min-width: 450px) {
				height: 180px;
			}

			@media (min-width: 768px) {
				height: 150px;
			}

			@media (min-width: 991px) {
				width: 150%;
				height: 105px;
			}

			path {
				object-fit: cover;
				fill: #160337;
			}
		}
	}
}