.statistics {
	width: 100%;
	background: linear-gradient(122.91deg, #201081 0%, #1E0043 72.07%, #5C003E 98.6%);
	position: relative;

	// .statistics__inner
	&__inner {
		padding: 70px 0;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media (min-width: 576px) {
			align-items: center;
		}

		&::before {
			content: '';
			position: absolute;
			background-image: url('./../img/befo-all-block.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 113px;
			height: 82px;
			top: 2%;
			right: 0;

			@media (min-width: 768px) {
				top: 70%;
				right: 5%;
			}
		}

		&::after {
			@media (min-width: 576px) {
				content: '';
				position: absolute;
				background-image: url('./../img/befo-all-block.svg');
				background-repeat: no-repeat;
				background-size: cover;
				width: 113px;
				height: 82px;
				top: 50%;
				left: 0;
			}

			@media (min-width: 768px) {
				top: 10%
			}
		}
	}

	// .statistics__title
	&__title {}

	// .statistics__list
	&__list {
		margin-top: 15px;

		@media (min-width: 768px) {
			width: 100%;
			max-width: 995px;
			display: flex;
			justify-content: space-between;
			margin-top: 40px;
		}
	}

	// .statistics__list-item
	&__list-item {
		margin-top: 25px;

		@media (min-width: 576px) {
			text-align: center;
		}

		@media (min-width: 768px) {
			margin: 0 0 0 0;
		}

		@media (min-width: 991px) {
			width: 386px;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	// .statistics__list-numb
	&__list-numb {
		display: block;
		font-size: 34px;
		line-height: 41px;
		font-weight: 700;
		background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@media (min-width: 768px) {
			font-size: 42px;
		}
	}

	// .statistics__list-text
	&__list-text {
		margin-top: 7px;
		display: block;
		font-size: 14px;
		font-weight: 400;
		line-height: 16.95px;
		color: #D8DBEC;

		@media (min-width: 768px) {
			font-size: 16px;
			line-height: 19.36px;
		}
	}

	// .statistics__btn
	&__btn {
		margin-top: 25px;

		@media (min-width: 768px) {
			margin-top: 50px;
		}
	}
}