.painted-btn {
	background: $bgColorBtn;
	border-radius: 88px;
	font-size: 16px;
	line-height: 19.36px;
	font-weight: 700;
	letter-spacing: 0.8px;
	color: $textColorBtn;
	@include flex (center, center);
	padding: 16px 60px;
	text-transform: uppercase;

	max-width: 320px;
	white-space: nowrap;

	@media (min-width: 768px) {
		max-width: 264px;
		padding: 16px 50px;
	}
}

.info__pay .painted-btn {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		margin-bottom: 20px;
	}
}

.info__btn {
	display: flex;
	margin-top: 20px;

	@media (min-width: 768px) {
		display: none;
	}
}