.attention {
	background: #160239;
	border: 1px solid #a03030;
	border-radius: 15px;
	max-width: 323px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	@media all and (min-width: 630px) {
		margin: 0 auto;
		max-width: 400px;
	}

	@media all and (min-width: 930px) {
		max-width: 794px;
	}

	&::after {
		content: "";
		position: absolute;
		background: url("./../img/second/Vector.svg") 0 0 no-repeat;
		width: 22px;
		height: 22px;
		top: 12px;
		right: 12px;
		display: block;
	}

	// .attention__title
	&__title {
		font-family: Inter;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #a03030;
		margin: 26px 0 5px;
	}

	// .attention__description
	&__description {
		width: 196px;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 25px;
		text-align: center;

		@media all and (min-width: 630px) {
			width: 100%;
		}

		@media all and (min-width: 800px) {
			width: 100%;
			font-size: 20px;
		}
	}
}