.lottery {

	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	margin-bottom: 50px;

	@media (min-width: 576px) {
		margin-top: 60px;
		flex-direction: row;
		justify-content: space-between
	}

	@media (min-width: 991px) {
		margin-top: 140px;
		margin-bottom: 100px;
	}

	&::before {
		@media (min-width: 1200px) {
			content: '';
			position: absolute;
			background-image: url('./../img/info/Frame4.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 77px;
			height: 91px;
			top: 2%;
			right: -3%;

		}
	}

	&::after {
		@media (min-width: 1100px) {
			content: '';
			position: absolute;
			background-image: url('./../img/info/Frame5.svg');
			background-repeat: no-repeat;
			background-size: cover;
			width: 60px;
			height: 88px;
			bottom: -4%;
			right: 19%;

		}
	}

	// .lottery__img
	&__img {
		margin-top: 30px;
		width: 100%;
		max-width: 320px;
		height: 310px;
		object-fit: cover;

		@media (min-width: 576px) {
			margin-top: 0;
			margin-right: 15px;
		}

		@media (min-width: 991px) {
			min-width: 400px;
			height: 390px;
			margin-right: 85px;
		}

		@media (min-width: 1200px) {
			min-width: 525px;
			height: 510px;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	// .lottery__content
	&__content {
		margin-top: 50px;
		display: flex;
		flex-direction: column;

		@media (min-width: 576px) {
			align-items: center;
			text-align: center;
			margin-top: 0;
		}

		@media (min-width: 991px) {
			flex-grow: 1;
			align-items: flex-start;
			justify-content: center;
		}
	}

	// .lottery__title
	&__title {
		max-width: 200px;

		@media (min-width: 768px) {
			max-width: 320px;
		}

		@media (min-width: 991px) {
			text-align: left;
		}
	}

	// .lottery__text
	&__text {
		margin-top: 10px;

		max-width: 350px;

		@media (min-width: 991px) {
			margin-top: 20px;
			max-width: 495px;
			text-align: left;
		}
	}

	// .lottery__btn
	&__btn {
		margin-top: 20px;

		@media (min-width: 991px) {
			margin-top: 25px;
		}
	}
}