// Colors

$textColor: #D8DBEC;
$textColorTitle: #fff;
$textColorSubtitle: #D8DBEC;
;
$bgColor: #190A29;
$bgColorFooter: #170337;
$bgColorBtn: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
$textColorBtn: #fff;