// Colors

$textColor: #1E4D51;
$bgColor: #2F1D45;
$bgColorBtn: #1E4D51;
$textColorBtn: #E4B0A2;



$breakpoints: (xs: 576px,
	sm: 768px,
);

%container {
	max-width: 390px;
	width: 100%;
	margin: 0 auto;
	padding: 0 24px;

	@include media (xs) {
		padding: 0 24px;
	}
}