
.about{
    width: 100%;
    background-image: url('./../img/about-svg-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__inner{
        padding-top: 50px;
        padding-bottom: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 576px) {
            align-items: center;
        }
    }

    &__title{
        text-align: left;
        @media (min-width: 576px){
            text-align: center;
        }
        @media (min-width: 991px){
            max-width: 850px;
        }
    }

    &__subtitle{
        margin-top: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        color: #D8DBEC;
        max-width: 495px;
        @media (min-width: 576px){
            text-align: center;
        }
        @media (min-width: 768px){
            font-size: 16px;
            line-height: 19px;
            margin-top: 20px;
        }
    }

    &__btn{
        margin-top: 26px;
    }
}