.info {
    width: 100%;
    background-image: url('./../img/info-bg2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
    // &::after{
    //     content: "";
    //     position: absolute;
    //     background-image: url('./../img/test.svg');
    //     background-size:cover;
    //     background-repeat: no-repeat;
    //     width: 100%;
    //     height: 230px;
    //     bottom: -200px;

    //     left: 0;
    // }


    &__inner {

        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: 576px) {
            align-items: center;
        }
    }

    &__pay {}

    &__pay-content {
        display: flex;
        flex-direction: column;

        @media (min-width: 768px) {
            width: 55%;
        }
    }

    &__steps {
        margin-top: 20px;

        @media (min-width: 768px) {
            display: flex;
        }

        @media (min-width: 991px) {
            margin-top: 45px;
        }
    }

    &__step {
        display: flex;
        align-items: center;
        margin-top: 15px;
        position: relative;

        &:last-child .info__step-fon::before {
            display: none;
        }

        &:last-child {
            padding-right: 0;
        }

        @media (min-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            padding-right: 26px;
        }

        @media (min-width: 991px) {
            padding-right: 126px;
        }
    }

    &__step-fon {
        background-color: #2F1D45;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: 768px) {
            width: 66px;
            height: 66px;
        }

        &::before {
            position: absolute;
            content: "";
            width: 4px;
            height: 100%;
            bottom: -31px;
            left: 15px;
            background-color: #2F1D45;

            @media (min-width: 768px) {
                width: 100%;
                height: 8px;
                bottom: 84px;
                left: 45px;
            }
        }
    }

    &__step-number {
        display: block;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (min-width: 768px) {
            font-size: 46px;
            line-height: 56px;
        }
    }

    &__step-text {
        display: block;
        margin-left: 11px;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        color: #fff;

        @media (min-width: 768px) {
            font-size: 16px;
            line-height: 19.36px;
            max-width: 105px;
            margin-left: 0;
            margin-top: 16px;
        }
    }

    &__player-wrap {
        @media (min-width: 768px) {
            width: 45%;
            display: flex;
            justify-content: flex-end;
        }
    }

    &__player {
        margin-top: 22px;
        width: 300px;
        height: 180px;
        cursor: pointer;

        @media (min-width: 991px) {
            width: 350px;
            height: 240px;
        }

        @media (min-width: 1200px) {
            width: 100%;
            height: 100%;
            max-width: 590px;
            max-height: 330px;
        }

        video {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__pay-btn {
        margin-top: 20px;

        @media (min-width: 768px) {
            margin-top: 45px;
        }
    }



    &__lottery {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        @media (min-width: 576px) {
            margin-top: 60px;
            flex-direction: row;
            justify-content: space-between
        }

        @media (min-width: 991px) {
            margin-top: 140px;
        }
    }

    &__lottery-img {
        margin-top: 30px;
        width: 300px;
        height: 310px;
        object-fit: cover;

        @media (min-width: 576px) {
            margin-top: 0;
            margin-right: 15px;
        }

        @media (min-width: 991px) {
            width: 400px;
            height: 390px;
            margin-right: 85px;
        }

        @media (min-width: 1200px) {
            width: 525px;
            height: 510px;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__lottery-content {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        @media (min-width: 576px) {
            align-items: center;
            text-align: center;
            margin-top: 0;
        }

        @media (min-width: 991px) {
            flex-grow: 1;
            align-items: flex-start;
        }
    }

    &__lottery-title {
        max-width: 200px;

        @media (min-width: 768px) {
            max-width: 320px;
        }

        @media (min-width: 991px) {
            text-align: left;
        }
    }

    &__lottery-text {
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        color: #D8DBEC;
        max-width: 350px;

        @media (min-width: 991px) {
            margin-top: 20px;
            text-align: left;
            font-size: 16px;
            line-height: 19.36px;
            max-width: 495px;
        }
    }

    &__lottery-btn {
        margin-top: 20px;

        @media (min-width: 991px) {
            margin-top: 25px;
        }
    }
}

.wave-top {
    position: absolute;
    top: -108px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    @media (min-width: 576px) {
        top: -137px;
    }

    @media (min-width: 700px) {
        top: -96px;
    }

    @media (min-width: 991px) {
        top: -89px;
    }

    @media (min-width: 1200px) {
        top: -68px;
    }

    @media (min-width: 1400px) {
        top: -54px;
    }

    svg {
        height: 111px;
        object-fit: cover;

        @media (min-width: 576px) {
            height: 142px;
        }

        @media (min-width: 700px) {
            height: 100px;
            width: 150%;
        }

        @media (min-width: 991px) {
            height: 91px;
        }

        @media (min-width: 1200px) {
            height: 70px;
        }

        @media (min-width: 1400px) {
            max-height: 65px;
            width: 100%;
        }

        path {
            object-fit: cover;
            fill: #190C25;
        }
    }
}

.wave-bootom {
    position: absolute;
    bottom: -53px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);

    @media (min-width: 450px) {
        bottom: -100px
    }

    @media (min-width: 768px) {
        bottom: -84px;
    }

    @media (min-width: 991px) {
        bottom: -66px;
    }

    svg {
        height: 95px;
        object-fit: cover;

        @media (min-width: 450px) {
            height: 180px;
        }

        @media (min-width: 768px) {
            height: 150px;
        }

        @media (min-width: 991px) {
            width: 150%;
            height: 105px;
        }

        path {
            object-fit: cover;
            fill: #160337;
        }
    }
}