
.info{
    width: 100%;
    background-image: url('./../img/info-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    &__inner{
        padding-top: 150px;
        padding-bottom: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 576px) {
            align-items: center;
        }
    }

    &__pay{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (min-width: 576px) {
            flex-direction: row;
            flex-wrap: wrap;
            align-items:center;
            justify-content: space-between
        }
    }

    &__pay-content{
        display: flex;
        flex-direction: column;
        @media (min-width: 768px){
            width: 50%;
        }
    }
    &__steps{
        margin-top: 20px;
        @media (min-width: 768px){
            display: flex;
        }
    }
    &__step{
        display: flex;
        align-items: center;
        margin-top: 15px;
        position: relative;
        &:last-child .info__step-fon::before{
            display: none;
        }
        @media (min-width: 768px){
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
            margin-right: 26px;
        }
    }
    &__step-fon{
        background-color: #2F1D45;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 768px){
            width: 66px;
            height: 66px;
        }
        &::before{
            position: absolute;
            content: "";
            width: 4px;
            height: 100%;
            bottom:-31px;
            left: 15px;
            background-color: #2F1D45;
            @media (min-width: 768px){
                width: 100%;
                height: 8px;
                bottom: 84px;
                left: 45px;
            }
        }
    }
    
    &__step-number{
        display: block;
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        background: linear-gradient(91.78deg, #9E00FF 3.77%, #6AC4F8 102.8%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media (min-width: 768px){
            font-size: 46px;
            line-height: 56px;
        }
    }
    &__step-text{
        display: block;
        margin-left: 11px;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        color: #fff;
        @media (min-width: 768px){
            font-size: 16px;
            line-height: 19.36px;
            max-width: 105px;
            margin-left: 0;
            margin-top: 16px;
        }
    }

    &__player-wrap{
        @media (min-width: 768px){
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }
    }
    &__player{
        margin-top: 22px;
        width: 300px;
        height: 180px;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__pay-btn{
        margin-top: 20px;
    }



    &__lottery{
        display: flex;
        flex-direction: column-reverse;
        @media (min-width: 576px) {
            align-items: center;
            flex-direction: row;
        }
        @media (min-width: 768px){
            
        }
    }
    &__lottery-img{
        margin-top: 30px;
        width: 300px;
        height: 310px;
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__lottery-content{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        @media (min-width: 576px) {
            align-items:center;
            text-align: center;

        }
    }
    &__lottery-title{
        max-width: 200px;
        @media (min-width: 768px) {
            max-width: 320px;
        }
    }
    &__lottery-text{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.94px;
        color: #D8DBEC;
        max-width: 350px;
        
    }
    &__lottery-btn{
        margin-top: 20px;
    }
}